<h3>Αγαπητέ <%= name %>,</h3>

<p>Ένα αίτημα επαναφοράς του κωδικού πρόσβασης έγινε<a href="<%= site %>"><%= site %></a>.</p>

<p>Αν θέλετε να επαναφέρετε τον κωδικό πρόσβασης, παρακαλώ κάντε κλικ στο σύνδεσμο<a href="<%= site %>/reset/<%= lang %>/<%= token %>"><%= site %>/reset/<%= lang %>/<%= token %></a>.</p>

<p>Αν δεν έχετε ζητήσει ένα νέο κωδικό πρόσβασης, μπορείτε να αγνοήσετε αυτό το μήνυμα.</p>

<p>Καλή σας μέρα!</p>