<h3>Αγαπητέ  <%= name %>,</h3>

<p>
    Σας ευχαριστούμε για τη συμμετοχή σας στην πρόταση<b><%= plano %></b>, που προωθήθηκε από<b><%= entidade %></b>.
</p>

<p>
    Αυτο το μήνυμα επιβεβαιώνει ότι η συμμετοχή σας έχει αναρτηθεί.
</p>

<table border="0">
    <tr><td>Τίτλος</td><td><%= titulo %></td></tr>
    <tr><td>Περιγραφή</td><td><%= participacao %></td></tr>
</table>

<p>
    Μπορείτε να απαντήσετε σε αυτό το μήνυμα, αν θέλετε να έρθετε σε επαφή με τον συντονιστή(ες).
</p>

<p>Καλή σας μέρα!</p>