<h3>Dear <%= autorparticipacao %>,</h3>

<p>
    A comment on the <b><%= plano %></b>, promoted by <b><%= entidade %></b>, was deleted, regarding your participation: <b><%= titulo %></b>.
</p>

<h3>Comment</h3>
<p>By: <%= autorcomentario %></p>
<hr>
<p><%= comentario %></p>
<hr>

<p>Have a nice day!</p>