<h3>Caro(a) moderador(a),</h3>

<p>
    Foi eliminada uma participação na discussão do plano <b><%= plano %></b>, promovido pela <b><%= entidade %></b>.
</p>

<p>
A boa receção desta mensagem indica que a participação foi eliminada com sucesso.
</p>

<table border="0">
    <tr><td>Título</td><td><%= titulo %></td></tr>
    <tr><td>Descrição</td><td><%= participacao %></td></tr>
    <tr><td>Autor</td><td><%= name %></td></tr>
</table>

<p>
    Recebeu esta mensagem por constar como moderador desta discussão.
</p>

<p>
    O autor também foi notificado para o email <a href="mailto:<%= email %>"><%= email %></a>
</p>

<p>Boa discussão!</p>