<h3><%= saudacao %> <%= name %>,</h3>

<p>
Obrigado pela sua participação na discussão do plano <b><%= plano %></b>, promovido pela <b><%= entidade %></b>.
</p>

<p>
A boa receção desta mensagem indica que o seu comentário foi atualizado com sucesso, referente à participação com o título <b><%= titulo %></b>.
</p>

<h3>Comentário</h3>
<hr>
<p><%= comentario %></p>
<hr>

<p>
    Para algum esclarecimento adicional, pode responder a esta mensagem que será encaminhada para o(s) moderador(es) deste plano.
</p>

<p>Boa discussão!</p>