<h3><%= saudacao %> <%= name %>,</h3>

<p>Foi feito um pedido de uma nova senha associada a este email para o site <a href="<%= site %>">
<%= site %></a>.</p>

<p>Se foi você que fez o pedido, siga a ligação seguinte para lhe ser enviada uma nova senha, invalidando a anterior.<br/>

<a href="<%= site %>/reset/<%= token %>">
<%= site %>/reset/<%= token %></a>
</p>

<p>
Se não pediu uma nova senha, pode ignorar esta mensagem, pois nenhuma ação será tomada.
</p>

Votos de um bom dia!