<h3>Dear moderator,</h3>

<p>
    A participation on the <b><%= plano %></b>, promoted by <b><%= entidade %></b>, was deleted.
</p>

<table border="0">
    <tr><td>Title</td><td><%= titulo %></td></tr>
    <tr><td>Description</td><td><%= participacao %></td></tr>
    <tr><td>Author</td><td><%= name %></td></tr>
</table>

<p>
    You received this message, because your are tagged as moderator.
</p>

<p>
    The author was also notified to the email <a href="mailto:<%= email %>"><%= email %></a>
</p>

<p>Have a nice day!</p>