<h3><%= saudacao %> <%= name %>,</h3>

<p>Obrigado por se registar em <a href="<%= site %>"><%= site %></a>.</p>

<p>Para completar o registo, siga a ligação seguinte para confirmar que recebeu esta mensagem.</p>

<p><a href="<%= site %>/registo/<%= token %>"><%= site %>/registo/<%= token %></a></p>

<p>Bem vindo!</p>