<h3>Αγαπητέ συντονιστή,</h3>

<p>
    Μια συμμετοχή για το <b><%= plano %></b>, που προώθησε ο<b><%= entidade %></b>, έχει διαγραφεί.
</p>

<table border="0">
    <tr><td>Τίτλος</td><td><%= titulo %></td></tr>
    <tr><td>Περιγραφή</td><td><%= participacao %></td></tr>
    <tr><td>Συντάκτης</td><td><%= name %></td></tr>
</table>

<p>
    Έχετε λάβει αυτό το μήνυμα, επειδή οριστήκατε ως συντονιστής.

</p>

<p>
    Στον συντάκτη, του κοινοποιήθηκε επίσης το μύνημα <a href="mailto:<%= email %>"><%= email %></a>
</p>

<p>Καλή σας μέρα!</p>