<h3>Dear <%= name %>,</h3>

<p>Thank you for registering at <a href="<%= site %>"><%= site %></a>.</p>

<p>To complete your registration, follow the link to confirm that you have received this email message.</p>

<p><a href="<%= site %>/registo/<%= token %>"><%= site %>/registo/<%= token %></a></p>

<p>Welcome!</p>

