<h3>Αγαπητέ <%= name %>,</h3>

<p>
    Ευχαριστούμε για τη συμμετοχή σας στην πρόταση<b><%= plano %></b>, που προώθησε ο<b><%= entidade %></b>.
</p>

<p>
    Αυτό το μήνυμα επιβεβαιώνει ότι το σχόλιό σας, όσον αφορά τη συμμετοχή σας<b><%= titulo %></b>, αναρτήθηκε.
</p>

<h3>Σχόλιο</h3>
<hr>
<p><%= comentario %></p>
<hr>

<p>
    Μπορείτε να απαντήσετε σε αυτό το μήνυμα, αν θέλετε να έρθετε σε επαφή με τους διαχειριστές της εφαρμογής.
</p>

<p>Καλή σας μέρα!</p>