<h3>Αγαπητέ <%= autorparticipacao %>,</h3>

<p>
    Ένα νέο σχόλιο<b><%= plano %></b>, που προώθησε ο<b><%= entidade %></b>, αναρτήθηκε, σχετικά με τη συμμετοχή σας: <b><%= titulo %></b>.
</p>

<h3>Σχόλιο</h3>
<p>Από: <%= autorcomentario %></p>
<hr>
<p><%= comentario %></p>
<hr>

<p>Καλή σας μέρα!</p>