<h3>Dear <%= name %>,</h3>

<p>A password reset request was made on <a href="<%= site %>"><%= site %></a>.</p>

<p>If you want to reset the password, please click on the link <a href="<%= site %>/reset/<%= lang %>/<%= token %>"><%= site %>/reset/<%= lang %>/<%= token %></a>.</p>

<p>If you did not request a new password, you can ignore this message.</p>

<p>Have a nice day!</p>