<h3>Caro(a) <%= autorparticipacao %>,</h3>

<p>
    Foi alterado um comentário na discussão do plano <b><%= plano %></b>, promovido pela <b><%= entidade %></b>.
</p>

<p>
    O comentário refere-se à sua participação com o título <b><%= titulo %></b>.
</p>

<h3>Comentário</h3>
<p>Por: <%= autorcomentario %></p>
<hr>
<p><%= comentario %></p>
<hr>

<p>Boa discussão!</p>