<h3>Dear <%= name %>,</h3>

<p>
    Thank you for your participation on the plan <b><%= plano %></b>, promoted by <b><%= entidade %></b>.
</p>

<p>
    This message confirms that your comment, regarding the participation <b><%= titulo %></b>, was posted.
</p>

<h3>Comment</h3>
<hr>
<p><%= comentario %></p>
<hr>

<p>
    You can reply to this message if you want to get in touch with the moderator(s).
</p>

<p>Have a nice day!</p>