<h3>Αγαπητέ <%= name %>,</h3>

<p>Σας ευχαριστούμε για την εγγραφή σας στο<a href="<%= site %>"><%= site %></a>.</p>

<p>Για να ολοκληρώσετε την εγγραφή σας, ακολουθήστε το σύνδεσμο για να επιβεβαιώσετε ότι έχετε λάβει αυτό το μήνυμα ηλεκτρονικού ταχυδρομείου.</p>

<p><a href="<%= site %>/registo/<%= lang %>/<%= token %>"><%= site %>/registo/<%= lang %>/<%= token %></a></p>

<p>Καλώς ορίσατε!</p>

