<h3>Αγαπητέ συντονιστή,</h3>

<p>
    Ένα σχόλιο για<b><%= plano %></b>, που προώθησε ο<b><%= entidade %></b>, ανανεώθηκε, όσον αφορά τη συμμετοχή: <b><%= titulo %></b>.
</p>

<h3>Σχόλιο</h3>
<hr>
<p><%= comentario %></p>
<hr>

<p>
     Έχετε λάβει αυτό το μήνυμα, επειδή οριστήκατε ως συντονιστής.
</p>

<p>
    Στον συντάκτη του σχόλιου (<%= autorcomentario %>) του κοινοποιήθηκε επίσης το μύνημα <a href="mailto:<%= email %>"><%= email %></a>
</p>
<p>
    Στον συντάκτη της πρότασης συμμετοχής(<%= autorparticipacao %>) του κοινοποιήθηκε επίσης το μύνημα <a href="mailto:<%= emailautorparticipacao %>"><%= emailautorparticipacao %></a>
</p>

<p>Καλή σας μέρα!</p>